@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);
@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css); 

.menu-item-language {
	font-family: 'Droid Arabic Naskh' !important;
}

html[dir=rtl] .menu-item-language {
	font-family: Lato !important;
}